 body {
     font: 14px;
     background-color: black;
     font-family: 'Raleway', sans-serif;
     color: #deb887;



 }

 .wrapper {
     width: 360px;
     padding: 20px;
     margin: 0px auto 0px auto;
 }

 #submit {
     background-color: #deb887;
     border-color: #deb887;
 }

 a {
     color: white;
 }