* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(34, 32, 32);
}

#header {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    color: burlywood;
}

img#logo {
    width: 4vw;
    height: auto;
}

#icon1 {
    margin-top: 2.2vw;
    margin-left: 0.5vw;
    min-width: 1.5vw;
    width: 1.5vw;
    max-width: 1.5vw;
    height: auto;

}

.menu {
    width: 100%;
    opacity: 0.3; 
    transition: transform 0.5s;
}

.menu:hover {
    opacity: 1; 
    transform: scale(0.8);
    transition: 0.5s;
}

.TypingGame {
    color: burlywood;
    background-color: transparent;
    resize: none;
    outline: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
}

::placeholder {
    color: burlywood;
}

#timer {
    color: burlywood;
    padding-bottom: 0%;
    font-family: 'Raleway', sans-serif;
    font-size: 4vw;
}