* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(34, 32, 32);
}

#parent {
    max-width: 80%;
    margin: auto;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: burlywood;
}

img#logo {
    width: 8vw;
    height: auto;
}

.TypingGame {
    color: burlywood;
    background-color: transparent;
    resize: none;
    outline: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
}

::placeholder {
    color: burlywood;
}

#timer {
    color: burlywood;
    font-family: 'Raleway', sans-serif;
    font-size: 4vw;
}